body {
    font-family: Arial, sans-serif;
    background: url('https://github.com/AbishekSetty/TuneHub-images/blob/main/createplaylist.jpg?raw=true') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Use viewport height for full screen height */
    width: 100vw; /* Use viewport width for full screen width */
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(225,225,225,0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: black;
    color: #d2b300;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
   background-color: orange;
    color: black;
}
