<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Playlist</title>
<link rel="stylesheet" th:href="@{/css/createPlaylist.css}">
</head>
<body>
	<form action="addPlaylist" method="post">
		
		<input type="text" name="name" placeholder="Playlist name" required>
		<br>
		<table border>
			<tr th:each="song:${songs}">
				<td>
					<input type="checkbox" th:name="songs" th:value="${song.id}">
				</td>
				<td th:text="${song.name}"></td>
			</tr>
		</table>
		<input type="submit" value="ADD PLAYLIST">
	</form>
</body>
</html>