<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Tune Hub : HOME</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<header class="header">
    <div class="header-logo">
        <img src="https://github.com/AbishekSetty/TuneHub-images/blob/main/TuneHublogo.jpg?raw=true" alt="Tune Hub logo">
    </div>
    <div class="header-right">
        <a href="login">LOGIN </a>
        <a href="registration">REGISTER</a>
    </div>
</header>

<div class="description">
    <p>Welcome to Tune Hub, your ultimate destination for all things music! Discover new artists, stream your favorite songs, and connect with a community of music lovers from around the world.</p>
</div>
<div class="bgimg">
	<img  alt="music img"  src="https://github.com/AbishekSetty/TuneHub-images/blob/main/music.jpg?raw=true">
</div>
</body>
</html>
