<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<form action="validate" method="post">
		<h1>Welcome Back</h1>
		<label><input type="email" name="email" placeholder="Enter a eamil" required/></label>
		<br>
		<label><input type="password" name="password" placeholder="Enter a password" required/></label>
		<br>
		<input type="submit" value="LOGIN"/>
		<p>Don't have an account yet? <a href="registration">Sign up</a></p>
	</form>
</body>
</html>