<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Song</title>
<link rel="stylesheet" th:href="@{/css/newSong.css}">

</head>
<body>
<form action="addSong" method="post">	
	<input type="text" name="name" placeholder="Song Name" required/>
	<br><br>
	<input type="text" name="artist" placeholder="Song Artist" required/>
	<br><br>
	<input type="text" name="genre" placeholder="Song Genre" required/>
	<br><br>
	<input type="text" name="link" placeholder="Song Link" required/>
	<br><br>
	<input type="submit" value="ADD SONG"/>
</form>
</body>
</html>