<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Page</title>
<link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
	<h3>  Create An Account</h3>           
	<form action="register" method="post">
		<label><input type="text" name="username" placeholder="NAME" required/></label>
		<br>
		<label><input type="email" name="email"placeholder="EMAIL" required/></label>
		<br>
		<label><input type="password" name="password" placeholder="PASSWORD" required/></label>
		<br>
		<label>Gender :</label>
		<label><input type="radio" name="gender" value="male"/>Male</label>
		<label><input type="radio" name="gender"value="female"/>Female</label>
		<label><input type="radio" name="gender" value="other"/>Other</label>
		<br>
		<label>Role :</label>
		<label><input type="radio" name="role" value="admin"/>Admin</label>
		<label><input type="radio" name="role" value="customer"/>Customer</label>
		<label></label>
		<br>
		<textarea name="address" placeholder="ADDRESS" required></textarea>
		<br>
		<input type="submit" value="Create Account"/>
	</form>
</body>
</html>